.Category {
    border-bottom: 1px solid #e9ecef;
    padding: 0;
}

.title {
    margin-bottom: 10px;
    color: #343a40;
    display: flex;
}

.Category h3 {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

h3 select {
    margin-left: 10px;
}
