.Category {
    border-bottom: 1.5px solid #c2c2c2;
    padding: 0;
}

.Category h3 {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;

    margin-bottom: 20px;
    color: #343a40;
    font-weight: 700;
}

h3 select {
    margin-left: 10px;
    font-weight: 700;
}
