.Expenditure {
    width: 512px;
    min-height: 100px;

    position: relative;
    background: white;
    border-radius: 16px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

    margin: 0 auto;

    margin-top: 96px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.Expenditure div {
    margin: 0 20px 0 20px;
}