.ItemCreate {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}

.button {
    z-index: 5;
    cursor: pointer;
    color: white;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    outline: none;
    transition: 0.1s all ease-in;
}

.addBtn {
    width: 80px;
    height: 80px;
    font-size: 60px;
    left: 80%;
    bottom: 20px;
}

.confirmBtn {
    z-index: 3;
    width: 40px;
    height: 40px;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%, -345%);
}

.add {
    background: #008193;
}
.add:hover {
    background: #00abc2;
}
.add:active {
    background: #005b66;
}
.close {
    background: #f15500;
    transform: rotate(45deg);
}
.close:hover {
    background: #ff8b54;
}
.close:active {
    background: #a73601;
}

.form {
    background: #e9ecef;
    padding: 45px 70px 45px 40px;
}

.input {
    height: 22px;
    width: 90px;
    margin-right: 10px;
}

.invalid {
    border: 2px solid red;
}