.TodayItem {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.highlight {
    border: 2px solid #fffd84;
    border-radius: 5px;
    background: #fff2bc;
}

.box {
    display: flex;
    align-items: center;
}

.categoryLbl {
    padding: 10px 17px 10px 17px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-weight: bold;
    margin-right: 20px;
}

.label {
    font-weight: 700;
    color: #43484e;
}

.label b {
    color: #f80000;
    margin-right: 20px;
}

.icon {
    font-size: 25px;
    color: #43484e;
    margin-left: 10px;
    transition: 0.05s all ease-in;
}

.icon:hover {
    color: #f80000;
    font-size: 30px;
    margin-left: 5px;
}

.input {
    padding: 5px;
    width: 100px;
    margin-right: 10px;
}

.invalid {
    border: 2px solid red;
}